<label for="name">Name: </label>
<input type="text" name="name" [value]="name" [(ngModel)]="name" />

<label for="name">Age: </label>
<input type="text" name="age" [value]="age" [(ngModel)]="age" />

<p>Name: {{ name }}</p>
<p>Age: {{ age }}</p>

<br />

<label for="chars">Choose a character:</label>
<select name="chars" id="chars" [(ngModel)]="activeChar">
  s
  <option *ngFor="let char of listOfChars" [ngValue]="char">
    {{ char.name }}
  </option>
</select>

<br />
<div>
  <h3>Character's characteristics</h3>
  <div>Name: {{ this.activeChar.name }}</div>
  <div>Race: {{ this.activeChar.race }}</div>
  <div>Profession: {{ this.activeChar.profession }}</div>
  <div>Level: {{ this.activeChar.level }}</div>
</div>

<br />

<div class="card">
  <label for="color">Choose a color:</label>
  <select name="color" id="color" [(ngModel)]="color">
    <option *ngFor="let color of listOfColors">{{ color }}</option>
  </select>

  <div [ngSwitch]="color">
    <div *ngSwitchCase="listOfColors[0]">
      <div
        [ngStyle]="{
          height: '100px',
          width: '100px',
          'background-color': color
        }"
      ></div>
    </div>
    <div *ngSwitchCase="listOfColors[1]">
      <div
        [ngStyle]="{
          height: '150px',
          width: '150px',
          'background-color': color
        }"
      ></div>
    </div>
    <div *ngSwitchCase="listOfColors[2]">
      <div
        [ngStyle]="{
          height: '200px',
          width: '200px',
          'background-color': color
        }"
      ></div>
    </div>
    <div *ngSwitchCase="listOfColors[3]">
      <div
        [ngStyle]="{
          height: '250px',
          width: '250px',
          'background-color': color
        }"
      ></div>
    </div>
    <div *ngSwitchDefault>Default</div>
  </div>
</div>

<br />

<p class="some-text" [ngClass]="{ 'red-text': text }">Some text</p>
<button (click)="handleClick()">change color</button>

<br />

<h3>Ask a yes\no question and press "Click"</h3>

<button (click)="pickRandomPhrase()">Click</button>
